<div class="m-in-album">
    <div class="m-in-album-top">
        <div class="m-in-album-top-l">
            <figure class="m-in-album-top-l-img">
                <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
            </figure>

            <div class="m-in-album-top-l-title">
                <h2>Lorem.</h2>
                <h4>23 Tracks</h4>
                <h4>0 Tracks</h4>
            </div>
        </div>

        <div class="m-in-album-top-r">
            <button class="m-btn-play">
                <img class="" src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/>
                <span>Shuffle play</span>
            </button>
        </div>
    </div>


    <div class="m-in-tabs">
        <button ng-click="setTab(1)" ng-class="{active: isTab(1)}">Lorem ipsum.</button>
        <button ng-click="setTab(2)" ng-class="{active: isTab(2)}">Lorem.</button>
        <button ng-click="setTab(3)" ng-class="{active: isTab(3)}">Lorem.</button>
    </div>
    <div class="m-line"></div>


    <div class="m-in-list" ng-show="isTab(1)">
        <div class="m-in-list-row" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40]">
            <div class="m-in-list-row-index">
                {{i == 2 ? '' : $index+1}}
                <button ng-show="i == 2"><img src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/></button>
            </div>

            <h2 class="m-in-list-row-title">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-title-m">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-time">45:45</h2>

            <div class="m-in-list-row-btn">
                <div class="m-btn-option">
                    <button class="m-btn-option-btn" open-this><img src="i/inside/artist/ic_option.png" data-at2x="i/inside/artist/ic_option@2x.png"/></button>

                    <div class="m-btn-option-list">
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_download.png" data-at2x="i/inside/artist/option_icon/ic_download@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_playlist.png" data-at2x="i/inside/artist/option_icon/ic_playlist@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_queue.png" data-at2x="i/inside/artist/option_icon/ic_queue@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_share.png" data-at2x="i/inside/artist/option_icon/ic_share@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-in-list" ng-show="isTab(2)">
        <div class="m-in-list-row" ng-repeat="i in [0,1,2,3,4]">
            <div class="m-in-list-row-index">
                {{i == 2 ? '' : $index+1}}
                <button ng-show="i == 2"><img src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/></button>
            </div>

            <h2 class="m-in-list-row-title">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-title-m">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-time">45:45</h2>

            <div class="m-in-list-row-btn">
                <div class="m-btn-option">
                    <button class="m-btn-option-btn" open-this><img src="i/inside/artist/ic_option.png" data-at2x="i/inside/artist/ic_option@2x.png"/></button>

                    <div class="m-btn-option-list">
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_download.png" data-at2x="i/inside/artist/option_icon/ic_download@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_playlist.png" data-at2x="i/inside/artist/option_icon/ic_playlist@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_queue.png" data-at2x="i/inside/artist/option_icon/ic_queue@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_share.png" data-at2x="i/inside/artist/option_icon/ic_share@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-in-list" ng-show="isTab(3)">
        <div class="m-in-list-row" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]">
            <div class="m-in-list-row-index">
                {{i == 2 ? '' : $index+1}}
                <button ng-show="i == 2"><img src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/></button>
            </div>

            <h2 class="m-in-list-row-title">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-title-m">Lorem ipsum dolor.</h2>

            <h2 class="m-in-list-row-time">45:45</h2>

            <div class="m-in-list-row-btn">
                <div class="m-btn-option">
                    <button class="m-btn-option-btn" open-this><img src="i/inside/artist/ic_option.png" data-at2x="i/inside/artist/ic_option@2x.png"/></button>

                    <div class="m-btn-option-list">
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_download.png" data-at2x="i/inside/artist/option_icon/ic_download@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_playlist.png" data-at2x="i/inside/artist/option_icon/ic_playlist@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_queue.png" data-at2x="i/inside/artist/option_icon/ic_queue@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                        <button class="m-btn-option-list-item">
                            <img src="i/inside/artist/option_icon/ic_share.png" data-at2x="i/inside/artist/option_icon/ic_share@2x.png"/>
                            <span>Lorem ipsum.</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>