<div class="m-in-albums">
    <div class="m-in-box m-in-box_type3">
        <div class="m-in-box_wrap7">
            <a ui-sref="in.artistDetails({artistId: i})" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21]">
                <figure class="m-in-box-item-img">
                    <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                    <figcaption></figcaption>
                </figure>
                <h2>Lorem ipsum.</h2>
                <h3>Lorem ipsum.</h3>
            </a>
        </div>
    </div>
</div>