<div class="m-in-home">
    <div class="m-in-top space-between">
        <a href="" class="m-in-top-item" style="background: url(i/inside/signuplogin/background.png) center no-repeat;" ng-repeat="i in [0,1,2]">
            <div class="m-in-top-item-titles">
                <h2>Lorem ipsum dolor.</h2>
                <h3>Lorem ipsum dolor.</h3>
                <h4>Lorem.</h4>
            </div>
            <div class="m-in-top-item-img"><img src="i/inside/radio/placeholder-radiocover@2x.png" alt=""></div>
        </a>
    </div>

    <div class="m-in-box m-in-box_type1">
        <div class="m-in-box-title space-between">
            <h2>Lorem ipsum.</h2>
            <a href="">Lorem.</a>
        </div>

        <div class="m-in-box_wrap7">
            <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                <figure class="m-in-box-item-img">
                    <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                    <figcaption></figcaption>
                </figure>
                <h2>Lorem.</h2>
            </a>
        </div>
    </div>

    <div class="m-in-box">
        <div class="m-in-box-title space-between">
            <h2>Lorem ipsum.</h2>
            <a href="">Lorem.</a>
        </div>

        <div class="m-in-box_wrap7">
            <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                <figure class="m-in-box-item-img">
                    <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                </figure>
                <h2>Lorem.</h2>
            </a>
        </div>
    </div>

    <div class="m-in-box m-in-box_type2">
        <div class="m-in-box-title space-between">
            <h2>Lorem ipsum.</h2>
            <a href="">Lorem.</a>
        </div>

        <div class="m-in-box_wrap7">
            <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                <span class="m-in-box-item-bg" style="background: url(i/inside/signuplogin/background.png) center no-repeat;"></span>

            <span class="m-in-box-item-title">
                <span class="trap"></span>
                <strong>Lorem ipsum.Lorem ipsum.</strong>
                <span>Lorem.</span>
            </span>
            </a>
        </div>
    </div>
</div>