<div class="m-in-movie">
    <div class="m-in-movie-top">
        <div class="m-in-movie-top-item" >
            <div style="background: url(../i/inside/music_page/background@2x.png) 0 0 no-repeat;" class="m-in-movie-top-bg"></div>

            <div class="m-in-movie-top-l">
                <div class="m-in-movie-top-title">Lorem ipsum.</div>
                <div class="m-in-movie-top-info">
                    <h2>Lorem ipsum.</h2>
                    <h3>
                        <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                        6,6
                        <span>1h 20m</span>
                    </h3>
                </div>
            </div>
            <div class="m-in-movie-top-r">
                <button class="m-btn-play m-btn-play_o">
                    <img class="" src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/>
                    <span>Watch trailer</span>
                </button>
            </div>
        </div>
    </div>



    <div class="m-in-movie-content">
        <div class="m-in-tabs">
            <button ng-click="setTab(1)" ng-class="{active: isTab(1)}">Lorem ipsum.</button>
            <button ng-click="setTab(2)" ng-class="{active: isTab(2)}">Lorem.</button>
            <button ng-click="setTab(3)" ng-class="{active: isTab(3)}">Lorem.</button>
        </div>
        <div class="m-line"></div>

        <div class="m-in-movie-content-box" ng-show="isTab(1)">
            <div class="m-in-movie-content-title">Lorem.</div>
            <div class="m-in-movie-content-cast m-in-box_wrap8">
                <div class="m-in-movie-content-cast-item" ng-repeat="i in [0,1,2,3,4,5,6,7]">
                    <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                    <h2>Lorem ipsum.</h2>
                </div>
            </div>

            <div class="m-in-movie-content-title">Lorem.</div>
            <p>Lcorporis debitis dolor, doloremque explicabo incidunt non officiis quam quibusdam sunt unde ut? Ab accusamus consequatur dolores iusto nam perferendis porro, ratione similique voluptas. Asperiores atque autem, beatae culpa distinctio et facere facilis illum ipsa ipsum maxime nesciunt nostrum obcaecati officia praesentium quidem quos soluta tempora temporibus voluptatem!</p>

            <div class="m-in-movie-content-title">Lorem.</div>
            <div class="m-in-movie-content-photos m-in-box_wrap6">
                <div class="m-in-movie-content-photos-item" ng-repeat="i in [0,1,2,3,4,5]">
                    <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                </div>
            </div>
        </div>
        <div class="m-in-movie-content-box2" ng-show="isTab(2)">
            <div class="m-in-movie-content-date">
                <div class="m-in-movie-content-date-nav space-center">
                    <div class="m-in-movie-content-date-nav-city">Lorem.</div>
                    <div class="m-in-movie-content-date-nav-day">
                        <button>Lorem.</button>
                        <button>Lorem.</button>
                        <button>Lorem.</button>
                        <button>Lorem.</button>
                    </div>
                </div>
            </div>
            <a href="" class="m-in-movie-content-seance" ng-repeat="i in [0,1,2,3,4,5]">
                <div class="m-in-movie-content-seance-info">
                    <h2>Lorem ipsum.</h2>
                    <h3>
                        <img class="" src="i/inside/movie/icon-location.png" data-at2x="i/inside/artist/icon-location@2x.png"/>
                        <span>Lorem ipsum dolor.</span>
                    </h3>
                </div>
                <div class="m-in-movie-content-seance-time">
                    <span>19:21</span>
                    <span>19:21</span>
                    <span>19:21</span>
                    <span>19:21</span>
                    <span>19:21</span>
                </div>
            </a>
        </div>
        <div class="m-in-movie-content-box2" ng-show="isTab(3)">
            <div class="m-in-movie-content-disc">
                <div class="m-in-movie-content-disc-item" ng-repeat="i in [0,1,2,3,4,5]">
                    <div class="m-in-movie-content-disc-item-top space-center">
                        <div class="m-in-movie-content-disc-item-top-info">
                            <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                            <div class="m-in-movie-content-disc-item-top-info-titles">
                                <h2>Lorem ipsum.</h2>
                                <h3>Lorem ipsum.</h3>
                            </div>
                        </div>

                        <div class="m-stars">
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, corporis dolor dolorum eum expedita maiores natus reiciendis rem temporibus!</p>
                </div>
            </div>
        </div>
    </div>
</div>