<div class="m-in-music">
    <div class="m-in-music-top">
        <div class="m-in-box m-in-box_type1">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
            </div>

            <div class="m-in-box_wrap7">
                <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <figure class="m-in-box-item-img">
                        <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                        <figcaption></figcaption>
                    </figure>
                    <h2>Lorem.</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="m-in-music-bottom">
        <div class="m-in-box m-in-box_type3">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <a href="">Lorem.</a>
            </div>

            <div class="m-in-box_wrap7">
                <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <figure class="m-in-box-item-img">
                        <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                        <figcaption></figcaption>
                    </figure>
                    <h2>Lorem ipsum.</h2>
                    <h3>Lorem ipsum.</h3>
                </a>
            </div>
        </div>

        <div class="m-in-box m-in-box_type4">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <a href="">Lorem.</a>
            </div>

            <div class="m-in-box_wrap5">
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/decades-background.png" data-at2x="i/inside/music_page/decades-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/ic_decades.png" data-at2x="i/inside/music_page/ic_decades@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/dinner-background.png" data-at2x="i/inside/music_page/dinner-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-dinner.png" data-at2x="i/inside/music_page/icon-dinner@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/edm-background.png" data-at2x="i/inside/music_page/edm-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-edm.png" data-at2x="i/inside/music_page/icon-edm@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/focus-background.png" data-at2x="i/inside/music_page/focus-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-focus.png" data-at2x="i/inside/music_page/icon-focus@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/hiphop-background.png" data-at2x="i/inside/music_page/hiphop-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-hiphop.png" data-at2x="i/inside/music_page/icon-hiphop@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/party-background.png" data-at2x="i/inside/music_page/party-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-party.png" data-at2x="i/inside/music_page/icon-party@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/reggae-background.png" data-at2x="i/inside/music_page/reggae-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-reggae.png" data-at2x="i/inside/music_page/icon-reggae@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/sleep-background.png" data-at2x="i/inside/music_page/sleep-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-sleep.png" data-at2x="i/inside/music_page/icon-sleep@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/study-background.png" data-at2x="i/inside/music_page/study-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-study.png" data-at2x="i/inside/music_page/icon-study@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
                <a href="" class="m-in-box-item">
                    <img class="m-in-box-item-img" src="i/inside/music_page/travel-background.png" data-at2x="i/inside/music_page/travel-background@2x.png"/>
                    <img class="m-in-box-item-ico" src="i/inside/music_page/icon-travel.png" data-at2x="i/inside/music_page/icon-travel@2x.png"/>

                    <h2>Lorem.</h2>
                </a>
            </div>
        </div>
    </div>
</div>