<div class="m-in-movie">
    <div class="m-in-movie-top">
        <ul
                rn-carousel
                rn-carousel-controls
                rn-carousel-index="carouselIndex"
        >
            <li class="m-in-movie-top-item" ng-repeat="i in [0,1,2,3,4,5]">
                <div style="background: url(i/inside/music_page/background@2x.png) 0 0 no-repeat;" class="m-in-movie-top-bg"></div>

                <div class="m-in-movie-top-l">
                    <div class="m-in-movie-top-title">Lorem ipsum.</div>
                    <div class="m-in-movie-top-info">
                        <h2>Lorem ipsum.</h2>
                        <h3>
                            <img src="i/inside/movie/icon-rating.png" data-at2x="i/inside/movie/icon-rating@2x.png"/>
                            {{i}},6
                            <span>1h 20m</span>
                        </h3>
                    </div>
                </div>
                <div class="m-in-movie-top-r">
                    <button class="m-btn-play m-btn-play_o">
                        <img class="" src="i/inside/movie/icon-play.png" data-at2x="i/inside/movie/icon-play@2x.png"/>
                        <span>Watch trailer</span>
                    </button>
                </div>
            </li>
        </ul>

        <div rn-carousel-indicators slides="[0,1,2,3,4,5]" rn-carousel-index="carouselIndex"></div>
    </div>



    <div class="m-in-movie-content m-in-movie-content-box1">
        <div class="m-in-box m-in-box_type2" slide-box="testArray" show-items="7">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <div class="m-in-box-ctrls">
                    <button data-ctrl="prev"></button>
                    <button data-ctrl="next"></button>
                </div>
            </div>

            <div class="m-in-box_wrap7 white-space">
                <a  ui-sref="in.movieDetails({movieId:i.id})" class="m-in-box-item" ng-repeat="i in testArray | limitTo : 7">
                    <span class="m-in-box-item-bg" style="background: url(i/inside/signuplogin/background.png) center no-repeat;"></span>

                    <span class="m-in-box-item-title">
                        <span class="trap"></span>
                        <strong>Lorem ipsum.Lorem ipsum.</strong>
                        <span>{{i.id}}</span>
                    </span>
                </a>
            </div>
        </div>

        <div class="m-in-box m-in-box_type5">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <div class="m-in-box-ctrls">
                    <button data-ctrl="prev"></button>
                    <span>May</span>
                    <button data-ctrl="next"></button>
                </div>
            </div>

            <div class="m-in-box_wrap3">
                <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5]">
                    <span class="m-in-box-item-bg" style="background: url(i/inside/signuplogin/background.png) center no-repeat;"></span>

                    <span class="m-in-box-item-info">
                        <span>Lorem ipsum.Lorem.</span>
                        <span>Lorem.</span>
                        <span>Lorem ipsum.</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>