<div class="m-in-playlist">
    <div class="m-in-box">
        <div class="m-in-box-title space-between">
            <h2>Lorem ipsum.</h2>
            <div class="m-in-box-ctrls">
                <button class="m-in-box-ctrls-playlist"><img src="i/inside/playlist/icon-addplaylist@1.5x.png"/></button>
                <button class="m-in-box-ctrls-filter"><img src="i/inside/playlist/ic_filter@2x.png"/></button>
            </div>
        </div>


        <div class="m-in-box_wrap2">
            <div class="m-in-playlist-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                <a href="" class="m-in-box-item">
                    <figure class="m-in-box-item-img">
                        <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                        <figcaption></figcaption>
                    </figure>
                </a>

                <div class="m-in-playlist-item-r">
                    <div class="m-in-playlist-item-r-info">
                        <h2>Lorem ipsum dolor.</h2>
                        <h3>Lorem.</h3>
                    </div>

                    <div class="m-in-playlist-item-r-btn">
                        <div class="m-btn-option">
                            <button class="m-btn-option-btn" open-this><img src="i/inside/artist/ic_option.png" data-at2x="i/inside/artist/ic_option@2x.png"/></button>

                            <div class="m-btn-option-list">
                                <button class="m-btn-option-list-item">
                                    <img src="i/inside/artist/option_icon/ic_download.png" data-at2x="i/inside/artist/option_icon/ic_download@2x.png"/>
                                    <span>Lorem ipsum.</span>
                                </button>
                                <button class="m-btn-option-list-item">
                                    <img src="i/inside/artist/option_icon/ic_playlist.png" data-at2x="i/inside/artist/option_icon/ic_playlist@2x.png"/>
                                    <span>Lorem ipsum.</span>
                                </button>
                                <button class="m-btn-option-list-item">
                                    <img src="i/inside/artist/option_icon/ic_queue.png" data-at2x="i/inside/artist/option_icon/ic_queue@2x.png"/>
                                    <span>Lorem ipsum.</span>
                                </button>
                                <button class="m-btn-option-list-item">
                                    <img src="i/inside/artist/option_icon/ic_share.png" data-at2x="i/inside/artist/option_icon/ic_share@2x.png"/>
                                    <span>Lorem ipsum.</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>