<div class="m-in-radio">
    <div class="m-in-radio-player">
        <div class="m-in-radio-player-ctrl">
            <figure>
                <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                <figcaption class="m-in-radio-player-ctrl-btns">
                    <button><img class="" src="i/inside/music_player/icon-previous.png" data-at2x="i/inside/music_player/icon-previous@2x.png"/></button>
                    <button><img class="" src="i/inside/music_player/icon-play.png" data-at2x="i/inside/music_player/icon-play@2x.png"/></button>
                    <button><img class="" src="i/inside/music_player/icon-next.png" data-at2x="i/inside/music_player/icon-next@2x.png"/></button>
                </figcaption>
            </figure>

            <div class="m-in-radio-player-ctrl-info">
                <h2>Lorem ipsum.</h2>
                <h3>Lorem ipsum.</h3>
                <div class="m-menu-player-bottom-progress"><span style="width: 50%"></span></div>
                <h4>00:00 <span>20:20</span></h4>
            </div>
        </div>

        <div class="m-in-radio-player-wave">
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button class="is"><b>Lorem ipsum.</b> <i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button class="active"><b>TOP 100</b> <i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button class="is"><b>Lorem ipsum.</b> <i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
            <button><i></i></button>
        </div>
    </div>


    <div class="m-in-radio-content">
        <div class="m-in-box">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <div class="m-in-box-ctrls">
                    <button data-ctrl="prev"></button>
                    <button data-ctrl="next"></button>
                </div>
            </div>

            <div class="m-in-box_wrap7">
                <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <figure class="m-in-box-item-img">
                        <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                    </figure>
                    <h2>Lorem.</h2>
                </a>
            </div>
        </div>

        <div class="m-in-box">
            <div class="m-in-box-title space-between">
                <h2>Lorem ipsum.</h2>
                <div class="m-in-box-ctrls">
                    <button data-ctrl="prev"></button>
                    <button data-ctrl="next"></button>
                </div>
            </div>

            <div class="m-in-box_wrap7">
                <a href="" class="m-in-box-item" ng-repeat="i in [0,1,2,3,4,5,6]">
                    <figure class="m-in-box-item-img">
                        <img class="" src="i/inside/artist/placeholder-artist@2x.png" data-at2x="i/inside/artist/placeholder-artist@2x.png"/>
                    </figure>
                    <h2>Lorem.</h2>
                </a>
            </div>
        </div>
    </div>
</div>





