<div class="m-in" ng-controller="inCtrl">
    <div class="m-menu" ng-class="{active: var.showMenu}">
        <button class="m-menu-hideMenu" ng-click="var.showMenu = !var.showMenu"><span></span><span></span></button>
        <a ui-sref="land" class="m-menu-logo"><img src="i/homepage/logo.png" data-at2x="i/homepage/logo@2x.png"/></a>

        <div class="m-menu-nav">
            <a ui-sref="in.home" ui-sref-active="active"  ng-click="var.showMenu = !var.showMenu" class="m-menu-nav-link"><img src="i/inside/sidebar/icon-home.png" data-at2x="i/inside/sidebar/icon-home@2x.png"/> <span>Home</span></a>
            <a ui-sref="in.music" ui-sref-active="active"  ng-click="var.showMenu = !var.showMenu" class="m-menu-nav-link"><img src="i/inside/sidebar/icon-music.png" data-at2x="i/inside/sidebar/icon-music@2x.png"/> <span>Music</span></a>
            <a ui-sref="in.movie" ng-class="{active: $state.includes('in.movieDetails')}" ui-sref-active="active"  ng-click="var.showMenu = !var.showMenu" class="m-menu-nav-link"><img src="i/inside/sidebar/icon-movies.png" data-at2x="i/inside/sidebar/icon-movies@2x.png"/> <span>Movie</span></a>
            <a ui-sref="in.radio" ui-sref-active="active" class="m-menu-nav-link"  ng-click="var.showMenu = !var.showMenu"><img src="i/inside/sidebar/icon-radio.png" data-at2x="i/inside/sidebar/icon-radio@2x.png"/> <span>Radio</span></a>
            <h2>My music</h2>
            <a ui-sref="in.playlist" ui-sref-active="active" class="m-menu-nav-link"  ng-click="var.showMenu = !var.showMenu">Playlist</a>
            <a ui-sref="in.songs" ui-sref-active="active" class="m-menu-nav-link"  ng-click="var.showMenu = !var.showMenu">Songs</a>
            <a ui-sref="in.albums" ui-sref-active="active" ng-class="{active: $state.includes('in.albumDetails')}"  ng-click="var.showMenu = !var.showMenu" class="m-menu-nav-link">Albums</a>
            <a ui-sref="in.artists" ui-sref-active="active" ng-class="{active: $state.includes('in.artistDetails')}"  ng-click="var.showMenu = !var.showMenu" class="m-menu-nav-link">Artists</a>
        </div>

        <div class="m-menu-player">
            <div class="m-menu-player-top">
                <img src="i/inside/radio/placeholder-radiocover@2x.png" alt="">
                <div class="m-menu-player-top-info">
                    <h2>Lorem ipsum.</h2>
                    <h3>Lorem.</h3>
                </div>
            </div>
            <div class="m-menu-player-bottom">
                <div class="m-menu-player-bottom-progress"><span style="width: 50%"></span></div>
                <div class="m-menu-player-bottom-ctrl">
                    <button class="inactive"><img src="i/inside/music_player/icon-repeat.png" data-at2x="i/inside/music_player/icon-repeat2x.png"/></button>
                    <button><img src="i/inside/music_player/icon-previous.png" data-at2x="i/inside/music_player/icon-previous2x.png"/></button>
                    <button><img src="i/inside/music_player/icon-play.png" data-at2x="i/inside/music_player/icon-play2x.png"/></button>
                    <button><img src="i/inside/music_player/icon-next.png" data-at2x="i/inside/music_player/icon-next2x.png"/></button>
                    <button class="inactive"><img src="i/inside/music_player/icon-shuffle.png" data-at2x="i/inside/music_player/icon-shuffle2x.png"/></button>
                </div>
            </div>
        </div>
    </div>

    <div class="m-in-w" scrollable>
        <div class="m-in-header space-center">
            <button class="m-in-header-showMenu" ng-click="var.showMenu = !var.showMenu"><span></span><span></span><span></span></button>
            <label class="m-in-header-search">
                <input type="text">
                <button><img src="i/inside/home/icon-search@2x.png"/></button>
            </label>

            <div class="m-in-header-user">
                <span>Hi Goggi</span>
                <i></i>
            </div>
        </div>

        <div class="m-in-content" ui-view="back"></div>
    </div>
</div>



<!--<loader class="loader">-->
    <!--<div class="loader-ing">-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
    <!--</div>-->
<!--</loader>-->