.m-in{
  background: #4D4D4D;
  font-size: 0;
  height: 100%;
  &-w{
    @extend .dibT;
    font-size: 16px;
    width: 85.6%;
    height: 100%;
    position: relative;


    [ui-view].ng-enter,
    [ui-view].ng-leave {
      position: absolute;
      left: 0;
      right: 0;
    }

    [ui-view].ng-enter {
      opacity: 0;
      animation: fadeInUp .4s linear;
    }

    [ui-view].ng-leave {
      opacity: 1;
      animation: fadeInUp .4s linear reverse;
    }
  }

  &-header{
    position: relative;
    z-index: 1;
    padding: 9px 17px 9px 7px;
    background: #464646;
    &-showMenu{
      background: none;
      border: none;
      cursor: pointer;
      width: 30px;
      display: none;
      span{
        display: block;
        height: 2px;
        width: 100%;
        margin: 4px 0;
        background: white;
      }
    }

    &-search{
      width: 280px;
      display: inline-block;
      position: relative;
      input{
        width: 100%;
        padding: 9px 40px 9px 14px;
        font-size: 12px;
        font-weight: 100;
        color: white;
        background: #5F5F5F;
        border-radius: 10px;
        border: none;
      }
      button{
        position: absolute;
        right: 0;
        top: 0;
        height: 32px;
        background: none;
        border: none;
        padding: 7px 11px;
        cursor: pointer;
        transition: all 50ms linear;
        img{height: 100%;}
        &:hover{opacity: 0.6;}
        &:active{transform: rotate(90deg);}
      }
    }

    &-user{
      span{
        @extend .dibM;
        font-size: 11px;
        margin: 0 8px 0 0;
        color: white;
      }
      i,img{
        @extend .dibM;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: white;
        border: none;
      }
    }
  }

  &-content{
  }

/////////////////////////////////////////////////////////////////////////////

  &-top{
    margin: 0 0 20px;
    &-item{
      @extend .dibT;
      width: 30%;
      padding: 30px 20px;
      font-size: 0;
      background-size: cover !important;
      position: relative;
      transition: all 200ms linear;
      &:after{
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(../i/inside/home/music-illustaration@2x.png) 0 100% no-repeat;
        background-size: 100% !important;
        transition: all 200ms linear 100ms;
      }
      &:nth-child(2):after{
        background: url(../i/inside/home/radio-illustration@2x.png) 0 100% no-repeat;
      }
      &:last-child{
        margin: 0;
        &:after{
          background: url(../i/inside/home/movie-illustration@2x.png) 100% 0 no-repeat;
          background-size: 53% !important;
        }
      }

      &-titles{
        @extend .dibM;
        width: 70%;
        position: relative;
        z-index: 1;
        h2{
          font-size: 10px;
          margin: 0 0 22px;
          font-weight: 100;
          color: $c1;
        }
        h3{
          font-size: 14px;
          color: white;
        }
        h4{
          font-size: 10px;
          margin: 10px 0 0;
          font-weight: 100;
          color: white;
        }
      }

      &-img{
        @extend .dibM;
        width: 30%;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }

      &:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 30px -10px #000000;
        &:after{
          transform: scale(1.15);
        }
      }
      &:active{
        transform: scale(0.9);
        box-shadow: none;
        transition: all 50ms linear;
      }
    }
  }

  &-box{
    font-size: 0;
    margin: 0 0 15px;
    text-align: center;
    &_wrap2{
      .m-in-box-item:nth-child(2n+2),
      .m-in-playlist-item:nth-child(2n+2){margin: 0;}
    }
    &_wrap3{
      .m-in-box-item:nth-child(3n+3),
      .m-in-playlist-item:nth-child(3n+3){margin: 0;}
    }
    &_wrap5{
      .m-in-box-item:nth-child(5n+5){margin: 0;}
    }
    &_wrap6{
      .m-in-box-item:nth-child(6n+6),
      .m-in-movie-content-cast-item:nth-child(6n+6){margin: 0;}
    }
    &_wrap7{
      &.white-space{
        .m-in-box-item:nth-child(8),
        .m-in-box-item:nth-child(9),
        .m-in-box-item:nth-child(10),
        .m-in-box-item:nth-child(11),
        .m-in-box-item:nth-child(12),
        .m-in-box-item:nth-child(13),
        .m-in-box-item:nth-child(14),
        .m-in-box-item:nth-child(15),
        .m-in-box-item:nth-child(16),
        .m-in-box-item:nth-child(17),
        .m-in-box-item:nth-child(18),
        .m-in-box-item:nth-child(19),
        .m-in-box-item:nth-child(20),
        .m-in-box-item:nth-child(21)
        {display: none;}
      }
      .m-in-box-item:nth-child(7n+7){margin: 0;}
    }
    &_wrap8{
      .m-in-box-item:nth-child(8n+8),
      .m-in-movie-content-cast-item:nth-child(8n+8){margin: 0;}
    }

    &-title{
      padding: 15px 0 28px;
      h2{
        color: $c1;
        font-size: 12px;
        text-transform: uppercase;
      }
      a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 100;
      }
    }

    &-item{
      @extend .dibT;
      font-size: 14px;
      width: 12%;
      margin: 0 2.66% 15px 0;
      text-align: center;
      position: relative;
      text-decoration: none;
      transition: all 200ms linear;


      &.ng-enter{
        opacity:0;
        transform: scale(.8);
        &-active{
          opacity:1;
          transform: scale(1);
        }
      }


      &-img{
        position: relative;
        z-index: 2;
        border-radius: 5px;
        margin: 0 0 8px;
        transition: all 200ms linear;
        img{
          position: relative;
          z-index: 2;
          width: 100%;
          transition: all 200ms linear;
        }
        figcaption{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          &:after, &:before{
            content: '';
            position: absolute;
            z-index: 0;
            left: 0;
            right: 0;
            top: 9%;
            background: rgba(255, 255, 255, 0.2);
            width: 100%;
            height: 98%;
            border-radius: 5px;
            transform: scale(.9);
          }
          &:before{
            z-index: 1;
            top: 18%;
            transform: scale(.8);
          }
        }
      }
      &-ico{
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        top: 28%;
        height: 40px;
        margin: 0 auto;
      }

      &-bg{
        display: block;
        width: 94%;
        margin: 0 auto;
        height: 115px;
        border-radius: 5px 5px 0 0;
        background-size: cover !important;
        position: relative;
        z-index: 1;
      }

      h2, h3{
        color: white;
        font-size: 12px;
        font-weight: 100;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h3{font-size: 11px;}

      &-title{
        background: $c1;
        color: white;
        border-radius: 0 0 5px 5px;
        display: block;
        padding: 5px 5px 5px 10px;
        text-align: left;
        transition: all 200ms linear;
        position: relative;
        .trap{
          position: absolute;
          left: 0;
          right: 0;
          z-index: 0;
          top: -12px;
          width: 96%;
          margin: 0 auto;
          border: 8px solid $c1;
          box-sizing: border-box;
          transform: perspective(100px) rotateX(40deg);
        }
        span,strong{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          font-weight: 100;
        }
      }
      &-info{
        @extend .dibB;
        width: 56%;
        span{
          display: block;
          margin: 8px 0 3px;
          font-size: 14px;
          color: white;
          font-weight: 100;
        }
      }

      &:hover{
        transform: scale(1.1);
        img{
          box-shadow: 5px 5px 30px -10px #000000;
        }
      }
      &:active{
        transform: scale(0.9);
        transition: all 50ms linear;
        img{
          box-shadow: none;
          transition: all 50ms linear;
        }

      }
    }

    &-ctrls{
      &-playlist, &-filter, [data-ctrl="prev"], [data-ctrl="next"]{
        margin: 0 8px;
        background: none;
        border: none;
        cursor: pointer;
      }
      &-playlist, &-filter{
        img{
          height: 16px;
        }
      }
      [data-ctrl="prev"], [data-ctrl="next"]{
        @extend .dibM;
        width: 10px;
        height: 19px;
        background: url(../i/inside/movie/arrow_right@2x.png) 0 0 no-repeat;
        background-size: 100%;
        transform: rotate(180deg);
        &:active{
          transform: rotate(180deg) scale(.9) !important;
        }
      }
      [data-ctrl="next"]{
        transform: rotate(0deg);
        &:active{
          transform: rotate(0deg) scale(.9) !important;
        }
      }
      span{
        @extend .dibM;
        color: white;
        font-size: 14px;
        font-weight: 100;
        margin: 1px 0 0;
      }
    }

/////////////////////////////////////////////////////////////////////////////
    &_type1{
      .m-in-box-item-img{
        margin: 0 0 20px;
      }
    }

    &_type2{
      .m-in-box-item:hover{
        .m-in-box-item-title{
          box-shadow: 5px 5px 30px -10px #000000;
        }
      }
    }

    &_type3{
      .m-in-box-item{
        &-img{
          margin: 0 0 20px;
        }
        h2,h3{
          text-align: left;
        }
      }
    }

    &_type4{
      margin: 0;
      font-size: 0;
      .m-in-box-item{
        width: 18%;
        margin: 0 2.50% 25px 0;
        border-radius: 5px;
        overflow: hidden;
        max-height: 150px;
        //&:after{
        //  content: '';
        //  position: absolute;
        //  z-index: 3;
        //  left: 0;
        //  top: 0;
        //  width: 100%;
        //  height: 100%;
        //  background: rgba(0, 0, 0, 0.8);
        //}
        &-img{
          vertical-align: middle;
          margin: 0;
          width: 100%;
        }
        h2{
          position: absolute;
          z-index: 4;
          left: 0;
          right: 0;
          top: 60%;
          font-size: 15px;
          font-weight: 100;
        }
        &:hover{
          .m-in-box-item-img{box-shadow: none;}
        }
      }
    }

    &_type5{
      text-align: left;
      .m-in-box-item{
        width: 31.33%;
        margin: 0 3% 20px 0;
        text-align: left;
        font-size: 0;
        &-bg {
          @extend .dibT;
          width: 36%;
          margin: 0 8% 0 0;
          height: 100px;
          border-radius: 5px;
        }
      }
    }
  }

  &-list{
    display: table;
    width: 100%;
    padding: 33px 160px 20px 100px;
    &-row{
      display: table-row;
      position: relative;
      &-index, &-title, &-title-m, &-time, &-btn{
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding: 10px 0 9px;
      }


      &-index{
        color: white;
        font-size: 12px;
        border: none;
        text-align: center;
        width: 9%;
        button{
          padding: 0;
          background: none;
          cursor: pointer;
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 31px;
          text-align: center;
          border-radius: 50%;
          border: 1px solid #FFF;
          transition: all 50ms linear;
          img{
            width: 10px;
            margin: 0 0 0 3px;
            transition: all 50ms linear;
          }
          &:hover{opacity: 0.6;}
          &:active{
            opacity: 1;
            transform: scale(.9);
            img{transform: scale(.6);}
          }
        }
      }

      &-title{
        font-size: 14px;
        font-weight: 100;
        color: white;
        &-m{
          font-size: 12px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      &-time{
        font-size: 12px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.6);
      }

      &-btn{
        text-align: right;
      }




      //&.ng-enter-stagger {
      //  transition-delay: 1s;
      //  animation-delay: 1s;
      //}
      //&.ng-enter,
      //&.ng-leave{
      //  transition: all 10000ms linear;
      //}
      //
      //&.ng-enter {
      //  opacity: 0;
      //}
      //
      //&.ng-leave {
      //  opacity: 1;
      //}
    }
  }

  &-tabs{
    text-align: center;
    button{
      border: none;
      background: none;
      color: white;
      font-size: 16px;
      padding: 10px 50px;
      border-bottom: 4px solid transparent;
      &:hover{
        background: rgba(255, 255, 255, 0.1);
      }
      &.active{
        border-bottom: 4px solid white;
      }
    }
  }
}


//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in{
    &-top{
      justify-content: space-around;
      &-item{width: 44%;margin-bottom: 30px;}
    }

    &-box{
      &_wrap7{
        &.white-space{white-space: normal;}
      }


      &-item {
        width: 25%;
        padding: 0 2% 20px;
        margin: 0;
        &-ico {
          height: 24px;
        }


        //&.ng-animate{
        //  transition: all 0ms linear;
        //}
      }


      &_type2{
        .m-in-box-item {
          width: 25%;
          padding: 0 2% 20px;
        }
      }
      &_type4{
        .m-in-box-item{
          width: 25%;
          padding: 0 2% 20px;
          margin: 0;
          h2 {
            font-size: 12px;
          }
        }
      }
      &_type5{
        .m-in-box-item {
          width: 50%;
          padding: 0 3% 20px 0;
          margin: 0;
        }
      }
    }

    &-list {
      padding: 20px 50px 20px 50px;
    }
  }
}

@media all and (max-width: 510px) {
  .m-in{
    &-top-item {
      width: 49%;
    }

    &-box{
      &-item {
        width: 33%;
      }
      &_type2{
        .m-in-box-item {
          width: 33%;
        }
      }
      &_type4{
        .m-in-box-item {
          width: 33%;
        }
      }
    }
  }
}

@media all and (max-width: 710px){
  .m-in{
    &-w{width: 100%;}

    &-header{
      &-showMenu{
        display: block;
      }

      &-search {
        width: 130px;
      }

      &-user span {
        margin: 0 5px 0;
        max-width: 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-top-item {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
    }

    &-list {
      padding: 10px 10px 10px 0;
    }

    &-box{
      &_type2 .m-in-box-item {
        width: 50%;
      }
      &_type4 .m-in-box-item {
        width: 50%;
        margin: 0 0 20px;
      }
      &_type5 .m-in-box-item {
        width: 100%;
      }

      &-item {
        width: 50%;
        padding: 0 2% 20px;
        margin: 0;
      }
    }

    &-tabs button {
      width: 100%;
      &.active {
        border-bottom: transparent;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}





















