.m-in-albums{
  padding: 30px;
  .m-in-box-item{
    margin-bottom: 25px;
  }
}


//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in-albums{
    .m-in-box-item {
      width: 25%;
      padding: 0 2% 15px;
      margin: 0;
    }
  }
}

@media all and (max-width: 510px){
  .m-in-albums{
    .m-in-box-item {
      width: 33%;
    }
  }
}

@media all and (max-width: 710px){
  .m-in-albums{
    padding: 10px;
    .m-in-box-item {
      width: 50%;
      padding: 0 2% 20px;
    }
  }
}
