.m-in-album{
  &-top{
    padding: 46px 55px;
    background: linear-gradient(135deg,  #ffd280 0%,#ee9902 100%);
    font-size: 0;
    &-l{
      @extend .dibM;
      width: 75%;
      &-img{
        @extend .dibT;
        width: 130px;
        margin: 0 30px 0 0;
        img{width: 100%;}
      }

      &-title{
        @extend .dibB;
        h2{
          font-size: 20px;
          color: #fff;
        }

        h3{
          margin: 9px 0 0;
          font-size: 14px;
          color: $c1;
          b{
            color: white;
            margin: 0 9px;
          }
          span{
            color: rgba(255, 255, 255, 0.6);
          }
        }

        h4{
          margin: 9px 0 0;
          font-size: 14px;
          color: #fff;
        }
      }
    }
    &-r{
      @extend .dibM;
      width: 25%;
    }
  }

  &-share{
    padding: 10px 160px;
    text-align: right;
    b{
      font-size: 12px;
      color: #FFF;
      margin: 0 8px 0 0;
    }
    .m-btn-orange{
      margin: 0 30px 0px 0;
    }
  }
}


//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in-album{
    &-share {
      padding: 10px 50px;
    }

    &-top {
      padding: 20px 20px;
      &-l{
        width: 72%;
        &-img {
          width: 90px;
          margin: 0 30px 0 0;
        }
        &-title{
          h2 {
            font-size: 16px;
          }
          h3 {
            font-size: 12px;
          }
        }
      }
      &-r{width: 28%;}
    }
  }
}

@media all and (max-width: 710px){
  .m-in-album{
    &-share {
      padding: 10px 10px;
    }

    &-top {
      padding: 10px;
      &-l {
        width: 100%;
        margin: 0 0 25px;
      }
      &-r{
        width: 100%;
      }
    }
  }
}