.m-in{
  &-home{
    padding: 30px;
  }
}


//MAIN_MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){

}

@media all and (max-width: 710px){
  .m-in{
    &-home{
      padding: 10px;
    }
  }
}