.m-in-movie{
  &-top{
    overflow: hidden;
    font-size: 0;
    height: 225px;
    position: relative;
    &-item{
      padding: 27px 65px 0 30px !important;
      transition: all 300ms linear;
    }

    .rn-carousel{
      &-indicator{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 12%;
        font-size: 15px;
        text-align: center;
        span{
          color: rgba(255, 255, 255, 0.2);
        }
      }
      &-control {
        top: 81.5%;
        color: white;
        &-prev{
          left: 45%;
          width: 10px;
          height: 16px;
          background: url(../i/inside/movie/arrow_right@2x.png) 0 0 no-repeat;
          background-size: 100%;
          transform: rotate(180deg);
          &:before{display: none;}
        }
        &-next{
          right: 45%;
          width: 10px;
          height: 16px;
          background: url(../i/inside/movie/arrow_right@2x.png) 0 0 no-repeat;
          background-size: 100%;
          &:before{display: none;}
        }
      }
    }


    &-bg{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-size: cover !important;
    }

    &-l{
      @extend .dibB;
      width: 78%;
      font-size: 16px;
      position: relative;
    }
    &-r{
      @extend .dibB;
      width: 22%;
      font-size: 16px;
      position: relative;
    }

    &-title{
      font-size: 16px;
      color: white;
      margin: 0 0 120px 0;
    }
    &-info{
      h2{
        font-size: 16px;
        color: white;
        margin: 0 0 10px 0;
      }
      h3{
        font-size: 16px;
        color: white;
        img{}
        span{}
      }
    }
  }

  &-content{
    &-box{
      padding: 12px 195px 45px 125px;
    }
    &-box1{
      padding: 30px;
    }
    &-box2{
      padding: 12px 159px 45px 125px;
    }

    &-title{
      border-left: 4px solid $c1;
      padding: 3px 10px;
      font-size: 18px;
      color: white;
      font-weight: 400;
      margin: 32px 0 10px;
    }

    &-cast{
      &-item{
        @extend .dibT;
        width: 12.5%;
        padding: 0 5px;
        text-align: center;
        img{
          border-radius: 50%;
          width: 39px;
          margin: 0 0 5px 0;
          border: 1px solid white;
        }
        h2{
          font-size: 11px;
          color: white;
          font-weight: 100;
        }
      }
    }

    &-photos{
      &-item{
        @extend .dibT;
        width: 14.66%;
        margin: 0 2% 0 0;
        img{
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
        }
      }
    }

    &-disc{
      padding: 33px 0 0;
      &-item{
        border-bottom: 2px solid white;
        margin: 0 0 15px;
        padding: 0 0 15px;
        &-top{
          margin: 0 0 14px;
          &-info{
            img{
              @extend .dibT;
              width: 37px;
              border-radius: 50%;
              margin: 0 10px 0 0;
            }
            &-titles{
              @extend .dibT;
              h2{
                font-size: 14px;
                color: #fff;
                margin: 3px 0 4px;
              }
              h3{
                font-size: 12px;
                color: white;
                font-weight: 100;
              }
            }
          }
        }
      }
    }

    &-date{
      margin: 12px 0 5px;
      &-nav{
        &-city{
          font-size: 11px;
          text-transform: uppercase;
          color: white;
          padding: 0 0 0 10px;
        }
        &-day{
          button{
            border: none;
            background: none;
            padding: 5px 0;
            margin: 0 0 0 30px;
            font-size: 12px;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    &-seance{
      background: #565656;
      border-radius: 5px;
      padding: 17px 17px;
      margin: 0 0 12px;
      font-size: 0;
      display: block;
      overflow: hidden;
      text-decoration: none;
      &-info{
        float: left;
        width: 51%;
        h2{
          font-size: 18px;
          color: white;
          font-weight: 100;
          margin: 0 0 6px;
        }
        h3{
          font-size: 14px;
          color: white;
          font-weight: 100;
          img, span{
            @extend .dibM;
          }
        }
      }
      &-time{
        width: 49%;
        display: table;
        margin: 23px 0 0;
        span{
          display: table-cell;
          font-size: 14px;
          color: white;
          font-weight: 100;
        }
      }
    }
  }
}

//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in-movie{
    &-top{
      &-l{
        width: 66%;
      }
      &-r{
        width: 34%;
      }
      &-item {
        padding: 20px 20px 0 20px !important;
      }

      .rn-carousel-control{
        &-next{right: 43%;}
        &-prev{left: 43%;}
      }
    }

    &-content{
      &-box,&-box2 {
        padding: 0 50px 20px 50px;
      }
    }
  }
}

@media all and (max-width: 710px){
  .m-in-movie{
    &-top {
      height: 350px;
      &-l{
        width: 100%;
        margin: 0 0 30px;
        text-align: center;
      }
      &-r{
        width: 100%;
      }

      .rn-carousel{
        &-indicator {
          bottom: 6%;
        }
        &-control{
          top: 90%;
          &-next{right: 30%;}
          &-prev{left: 30%;}
        }
      }
    }

    &-content{
      &-box1{padding: 10px;}

      &-box, &-box2{padding: 0 10px;}

      &-cast-item {
        width: 25%;
        padding: 10px 5px;
      }

      &-photos-item {
        width: 33.33%;
        padding: 5px;
        margin: 0;
      }

      &-date-nav{
        &-city {
          padding: 0 0 10px;
          width: 100%;
          text-align: center;
        }
        &-day{
          width: 100%;
          font-size: 0;
          button{
            width: 25%;
            margin: 0 ;
          }
        }
      }

      &-seance {
        padding: 10px;
        &-info {
          float: none;
          width: 100%;
          h2 {
            margin: 0 0 15px;
          }
        }
        &-time {
          width: 100%;
          display: table;
          margin: 15px 0 0;
        }
      }
    }

  }
}

@media all and (max-width: 310px){

}

