.m-in{
  &-music{
    &-top{
      padding: 20px 30px;
      background: url(../i/inside/music_page/background@2x.png) center no-repeat;
      background-size: cover;
      .m-in-box-title{
        padding: 4px 0 22px;
        h2{
          color: #FFF;
          font-size: 20px;
          text-transform: none;
          font-weight: 100;
        }
      }
    }
    &-bottom{
      padding: 30px 30px 0;
    }

  }
}

//MAIN_MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){

}

@media all and (max-width: 710px){
  .m-in{
    &-music-bottom {
      padding: 10px;
    }
  }
}