.m-in{
  &-playlist{
    padding: 5px 30px;
    .m-in-box-title {
      padding: 15px 0 20px;
    }

    &-item{
      @extend .dibT;
      width: 43%;
      margin: 0 14% 43px 0;
      .m-in-box{
        &-item{
          @extend .dibT;
          margin: 0 4.4% 0 0;
          width: 25.6%;

          &:after, &:before{
            top: 58%;
          }
        }
      }


      &-r{
        @extend .dibB;
        width: 70%;
        padding: 0 0 35px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        &-info{
          @extend .dibM;
          width: 87%;
          h2{
            font-size: 14px;
            color: white;
          }
          h3{
            color: #7A7A7A;
            font-size: 12px;
            margin: 0 0 5px;
          }
        }
        &-btn{
          @extend .dibM;
          width: 13%;
          text-align: right;
        }
      }
    }
  }
}


//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in-playlist{
    &-item {
      width: 100%;
      margin: 0;
      padding: 0 0 10px;
    }
  }
}

@media all and (max-width: 710px){
  .m-in-playlist {
    padding: 10px;
  }
}
