.m-in-radio{
  &-player{
    background: url(../i/inside/signuplogin/background.png) center no-repeat;
    background-size: cover;
    max-height: 340px;
    overflow: hidden;
    &-ctrl{
      @extend .dibT;
      width: 60%;
      padding: 16px 0 0 58px;
      font-size: 0;
      figure{
        @extend .dibT;
        width: 28%;
        margin: 0 5% 0 0;
        text-align: center;
        img{
          width: 100%;
          margin: 0 0 20px;
        }
        figcaption{
          button{
            @extend .dibM;
            border: none;
            background: none;
            cursor: pointer;
          }
        }
      }

      &-info{
        @extend .dibB;
        width: 66%;
        padding: 0 0 38px;
        .m-player-bottom-progress span {
          height: 6px;
          position: relative;
          top: -2px;
        }
        h2{
          color: white;
          font-size: 20px;
          font-weight: 100;
        }
        h3{
          color: #9B9B9B;
          font-size: 14px;
          font-weight: 100;
          margin: 5px 0 27px;
        }
        h4{
          color: #9B9B9B;
          font-size: 10px;
          font-weight: 100;
          margin: 10px 0;
          span{
            float: right;
          }
        }
      }
    }
    &-wave{
      @extend .dibT;
      width: 40%;
      button{
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        font-size: 0;
        text-align: right;
        padding: 3px 0 4px 93px;
        width: 100%;
        i{
          @extend .dibM;
          width: 62%;
          margin: 0 0 0 10%;
          opacity: 0.6;
          height: 1px;
          background: white;
        }
        b{
          @extend .dibM;
          width: 28%;
          font-weight: 100;
          color: #9B9B9B;
          font-size: 10px;
          opacity: 0.6;
          text-align: left;
          height: 0;
          margin: -8px 0 0;
        }
        &.is{
          i{
            background: $c1;
          }
        }
        &.active{
          padding: 1px 0 2px 40px;
          i{
            opacity: 1;
            height: 2px;
            background: $c1;
          }
          b{
            color: white;
            font-size: 14px;
            opacity: 1;
            margin: -16px 0 0;
          }
        }
      }
    }
  }

  &-content{
    padding: 30px;
  }
}


//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-in-radio{
    &-player{
      &-ctrl {
        width: 55%;
        padding: 16px 0 0 20px;
        font-size: 0;
      }
      &-wave {
        width: 45%;
        button{
          i {
            width: 55%;
            margin: 0 0 0 0;
          }
          b {
            width: 45%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 710px){
  .m-in-radio{
    &-player{
      &-ctrl {
        width: 100%;
        padding: 10px;
        figure figcaption button {
          padding: 0 5px;
        }
      }

      &-wave {
        width: 100%;
        button {
          padding: 3px 0 4px 50px;
          b {
            width: 35%;
          }
          i {
            width: 65%;
            margin: 0;
          }

          &.active {
            padding: 1px 0 2px 10px;
          }
        }
      }
    }
  }
}


