.m-menu{
  @extend .dibT;
  font-size: 16px;
  width: 14.4%;
  height: 100%;
  background: url(../i/inside/sidebar/bg@2x.png) 50% 0 no-repeat;
  background-size: cover;
  position: relative;
  transition: all 200ms linear;
  &-hideMenu{
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 10px;
    display: none;
    span{
      display: block;
      height: 2px;
      width: 100%;
      margin: -2px 0;
      background: white;
      &:nth-child(1){transform: rotate(45deg);}
      &:nth-child(2){transform: rotate(-45deg);}
    }
  }

  &-logo{
    display: inline-block;
    margin: 12px 15px 6px;
    width: 90px;
    img{width: 100%;}
  }

  &-nav{
    &-link{
      display: block;
      width: 100%;
      color: white;
      font-size: 13px;
      font-weight: 100;
      padding: 11px 0 12px 15px;
      text-decoration: none;
      position: relative;
      transition: all 100ms linear;
      &:after,&:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        background: $c1;
        height: 100%;
        transition: all 100ms linear;
      }
      &:after{width: 0;background: rgba(255, 255, 255, 0.1);}

      &:hover{&:after{width: 100%;}}

      img,span{
        @extend .dibM;
        position: relative;
        z-index: 1;
        font-weight: 100;
      }

      img{margin: 0 12px 0 0;}

      &.active{
        &:before{width: 4px;}
        &:after{width: 100%;}
      }
    }
    h2{
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      margin: 28px 15px 11px;
    }
  }

  &-player{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    &-top{
      position: relative;
      overflow: hidden;
      min-height: 160px;
      img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
      }
      &-info{
        position: absolute;
        left: 10px;
        bottom: 10px;
        h2{
          color: white;
          text-transform: uppercase;
          font-size: 12px;
        }
        h3{
          color: $c1;
          font-size: 10px;
        }
      }
    }

    &-bottom{
      background: #000;
      &-progress{
        height: 3px;
        background: white;
        span{
          display: block;
          background: $c1;
          height: 100%;
        }
      }

      &-ctrl{
        font-size: 0;
        padding: 21px 0;
        button{
          @extend .dibM;
          padding: 0;
          width: 20%;
          cursor: pointer;
          background: none;
          border: none;
          &:hover{opacity: 0.6;}
          &:active{transform: scale(.95);opacity: 1;}
        }
      }
    }
  }
}

//MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m-menu{
    &-logo {
      margin: 10px auto;
      display: block;
    }

    &-nav{
      &-link {
        font-size: 11px;
        padding: 11px 0 12px 7px;
      }
      h2 {
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        margin: 10px 7px;
      }
    }

    &-player-top{
      min-height: 130px;
      &-info h2 {
        font-size: 10px;
      }
    }
  }
}

@media all and (max-width: 710px){
  .m-menu {
    width: 280px;
    position: fixed;
    z-index: 100;
    left: -280px;
    top: 0;
    &-hideMenu{
      display: block;
    }

    &.active{
      left: 0;
    }
  }
}