<div class="m-home">
    <header class="m-home-header">
        <div class="m-wrap">
            <div class="m-home-header-nav">
                <a ui-sref="land" class="m-home-header-nav-logo"><img src="i/homepage/logo.png" data-at2x="i/homepage/logo@2x.png"/></a>
                <nav class="m-home-header-nav-links">
                    <a href="">download</a>
                    <a ui-sref="login">log in</a>
                    <a href="" class="active">sign up</a>
                </nav>
            </div>

            <div class="m-home-header-title">
                Lorem ipsum dolor sit. <br>
                Lorem ipsum dolor sit amet.
            </div>

            <button class="m-btn">get ntertane</button>
        </div>

        <div class="m-home-header-scroll">
            Scroll to learn more
            <button class="m-btn-scroll" scroll-to-anchor="x1"><img src="i/homepage/icon-arrrow.png" data-at2x="i/homepage/icon-arrrow@2x.png"/></button>
        </div>
    </header>

    <div id="x1" class="m-home-box m-home-box_1">
        <div class="m-wrap space-between">
            <div class="left">
                <div class="left-item"><img src="i/homepage/ilusstration-browse.png" data-at2x="i/homepage/ilusstration-browse@2x.png"/></div>
                <div class="left-item"><img src="i/homepage/illustration-radio.png" data-at2x="i/homepage/illustration-radio@2x.png"/></div>
                <div class="left-item"><img src="i/homepage/illustration-gift.png" data-at2x="i/homepage/illustration-gift@2x.png"/></div>
            </div>
            <div class="right">
                <div class="right-title">
                    Lorem ipsum. <br>
                    Lorem ipsum.
                </div>

                <div class="right-info">
                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>

                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>

                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>
                </div>
            </div>

            <button class="m-btn-scroll" scroll-to-anchor="x2"><img src="i/homepage/icon-arrrow.png" data-at2x="i/homepage/icon-arrrow@2x.png"/></button>
        </div>
    </div>

    <div id="x2" class="m-home-box m-home-box_1 m-home-box_1__2">
        <div class="m-home-box_1-bgA"></div>

        <div class="m-wrap space-between">
            <div class="right">
                <div class="right-title">
                    Lorem ipsum.
                </div>

                <div class="right-info">
                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>

                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>

                    <h2>Lorem ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis omnis quae, quibusdam quod similique!</p>
                </div>
            </div>
            <div class="left">
                <img class="right-phone" src="i/homepage/iPhone.png" data-at2x="i/homepage/iPhone@2x.png"/>
            </div>

            <button class="m-btn-scroll" scroll-to-anchor="x3"><img src="i/homepage/icon-arrrow.png" data-at2x="i/homepage/icon-arrrow@2x.png"/></button>
        </div>
    </div>

    <div id="x3" class="m-home-box m-home-box_1 m-home-box_1__3">
        <div class="m-home-box_1-bgA"></div>

        <div class="laptopPhone">
            <img class="laptopPhone_1" src="i/homepage/macbook.png" data-at2x="i/homepage/macbook@2x.png"/>
            <img class="laptopPhone_2" src="i/homepage/iPhone-mini.png" data-at2x="i/homepage/iPhone-mini@2x.png"/>
        </div>

        <div class="m-home-box_1-title">Lorem ipsum dolor sit amet.</div>
        <div class="m-home-box_1-title-m">Lorem - ipsum - dolor.</div>
    </div>

    <div class="m-home-footer">
        <div class="m-wrap space-between">
            <a ui-sref="land" class="m-home-footer-logo"><img src="i/homepage/logo.png" data-at2x="i/homepage/logo@2x.png"/></a>

            <div class="m-home-footer-nav">
                <div class="m-home-footer-nav-item">
                    <h2>Lorem ipsum.</h2>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a>
                </div>
                <div class="m-home-footer-nav-item">
                    <h2>Lorem ipsum.</h2>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a>
                </div>
                <div class="m-home-footer-nav-item">
                    <h2>Lorem ipsum.</h2>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a> <br>
                    <a href="#">Lorem</a>
                </div>
            </div>

            <div class="m-home-footer-social">
                <h2>Lorem ipsum.</h2>
                <a href="#"><img src="i/homepage/Facebook.png" data-at2x="i/homepage/Facebook@2x.png"/></a>
                <a href="#"><img src="i/homepage/Twitter.png" data-at2x="i/homepage/Twitter@2x.png"/></a>
                <a href="#"><img src="i/homepage/Google+.png" data-at2x="i/homepage/Google+@2x.png"/></a>
            </div>
        </div>

        <div class="m-home-footer-bottom"></div>
    </div>
</div>

