<div class="m-login">
    <div class="m-login-wrap">
        <a ui-sref="land" class="m-login-img"><img src="i/homepage/logo.png" data-at2x="i/homepage/logo@2x.png"/></a>
        <div class="m-login-title"><span>log in</span><i></i></div>
        <form class="m-login-form">
            <label class="m-label">
                <img class="m-label-img" src="i/inside/movie/icon-location@2x.png" alt="">
                <input class="m-label-input" type="text" placeholder="Email">
            </label>
            <label class="m-label">
                <img class="m-label-img" src="i/inside/movie/icon-location@2x.png" alt="">
                <input class="m-label-input" type="text" placeholder="Password">
            </label>
            <button ui-sref="in.home" class="m-btn-login">log in</button>
            <a href="">Forget your password?</a>
        </form>
        <div class="m-login-title-m"><span>or</span></div>
        <a href="#" class="m-btn-fb">
            <img src="i/inside/signuplogin/fb.png" data-at2x="i/inside/signuplogin/fb@2x.png" alt="">
            <span>Log in with Facebook</span>
        </a>
        <a ui-sref="signUp" class="m-login-link">Don't have a account? Sign Up</a>
    </div>
</div>