<div class="m-login">
    <div class="m-login-wrap">
        <a ui-sref="land" class="m-login-img"><img src="i/homepage/logo.png" data-at2x="i/homepage/logo@2x.png"/></a>
        <div class="m-login-title"><span>sign up</span><i></i></div>
        <form class="m-login-form">
            <label class="m-label">
                <img class="m-label-img" src="i/inside/movie/icon-location@2x.png" alt="">
                <input class="m-label-input" type="text" placeholder="Username">
            </label>
            <label class="m-label">
                <img class="m-label-img" src="i/inside/movie/icon-location@2x.png" alt="">
                <input class="m-label-input" type="text" placeholder="Email">
            </label>
            <label class="m-label">
                <img class="m-label-img" src="i/inside/movie/icon-location@2x.png" alt="">
                <input class="m-label-input" type="password" placeholder="Password">
            </label>
            <button class="m-btn-login">sign up</button>
        </form>
        <div class="m-login-title-m"><span>or</span></div>
        <a href="#" class="m-btn-fb">
            <img src="i/inside/signuplogin/fb.png" data-at2x="i/inside/signuplogin/fb@2x.png" alt="">
            <span>Sign up in with Facebook</span>
        </a>
        <a ui-sref="login" class="m-login-link">Already have a account? Log in</a>
    </div>
</div>