$c1: #ee9902;
$c2: #595959;
$c3: #2D2D2D;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Medium.eot');src: local('Roboto Medium'), local('Roboto-Medium'),url('../fonts/roboto/hinted-Roboto-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Medium.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Medium.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Medium.ttf') format('truetype');font-weight: 500;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Regular.eot');src: local('Roboto'), local('Roboto-Regular'),url('../fonts/roboto/hinted-Roboto-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Regular.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Regular.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Regular.ttf') format('truetype');font-weight: 400;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Bold.eot');src: local('Roboto Bold'), local('Roboto-Bold'),url('../fonts/roboto/hinted-Roboto-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Bold.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Bold.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Bold.ttf') format('truetype');font-weight: 700;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Light.eot');src: local('Roboto Light'), local('Roboto-Light'),url('../fonts/roboto/hinted-Roboto-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Light.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Light.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Light.ttf') format('truetype');font-weight: 300;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Black.eot');src: local('Roboto Black'), local('Roboto-Black'),url('../fonts/roboto/hinted-Roboto-Black.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Black.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Black.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Black.ttf') format('truetype');font-weight: 900;font-style: normal;}
*{
  box-sizing: border-box;
  &:focus{outline: none;}
}
html, body{
  height: 100%;
}
//ANIMATIONS////////////////////////////////////////////////////////////////////////////////////////////////////////////
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//
//@keyframes pulsate {
//  0% {transform: scale(0.1, 0.1); opacity: 0.0;}
//  50% {opacity: 1.0;}
//  100% {transform: scale(1.2, 1.2); opacity: 0.0;}
//}
//
//@keyframes toLeft {
//  0% {transform: translateX(0px); opacity: 1;}
//  100% {transform: translateX(-300px); opacity: 0;}
//}
//LOADER////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.loader{
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $c3;
  &-ing{
    position: fixed;
    margin: -30px auto 0;
    left: 0;
    right: 0;
    top: 50%;
    width: 100px;
    height: 60px;
    list-style: none;
    span{
      background-color: #FFFFFF;
      width: 10px;
      height: 10px;
      float: right;
      margin-right: 5px;
      box-shadow: 0 70px 20px rgba(0,0,0,.8);


      &:nth-child(1){
        -webkit-animation: loadbars 0.6s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
      }
      &:nth-child(2){
        -webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
      }
      &:nth-child(3){
        -webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
      }
      &:nth-child(4){
        -webkit-animation: loadbars 0.6s ease-in-out infinite -0.3s;
      }
      &:nth-child(5){
        -webkit-animation: loadbars 0.6s ease-in-out infinite -0.1s;
      }
      &:nth-child(6){
        -webkit-animation: loadbars 0.6s ease-in-out infinite -0.6s;
      }
    }
  }
}
@keyframes loadbars {
  0%{
    height: 10px;
    margin-top: 25px;
  }
  50%{
    height:50px;
    margin-top: 0px;
  }
  100%{
    height: 10px;
    margin-top: 25px;
  }
}
//DEF_CLASSES///////////////////////////////////////////////////////////////////////////////////////////////////////////
.space-between{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.space-around{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.space-center{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
.dibT{
  display: inline-block;
  vertical-align: top;
}
.dibB{
  display: inline-block;
  vertical-align: bottom;
}
.w100p{
  width: 100%;
}
.p30{
  padding: 30px;
}
.inactive{
  opacity: .6;
  pointer-events: none;
}
.white-space{
  white-space: nowrap;
}
.ovh{
  overflow: hidden;
}
//RESET/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ul[rn-carousel] {
  width: 100%;
  height: 100%;
}
//MAIN_STYLES///////////////////////////////////////////////////////////////////////////////////////////////////////////
.m{
  font-family: 'Roboto';
  height: 100%;
  min-width: 320px;
  button{
    transition: all 50ms linear;
    &:hover{opacity: 0.6;}
    &:active{transform: scale(.95);opacity: 1;}
  }
  p{
    color: white;
    font-size: 12px;
    line-height: 18px;
    font-weight: 100;
  }


  &-line{
    width: 100%;
    height: 1px;
    background: $c1;
  }

  &-btn{
    font-size: 12px;
    font-weight: 800;
    color: #FFF;
    padding: 15px 50px;
    border-radius: 31px;
    border: 1px solid #fff;
    background: none;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    cursor: pointer;

    &-scroll{
      cursor: pointer;
      border: none;
      display: block;
      margin: 10px auto 0;
      width: 65px;
      height: 65px;
      line-height: 81px;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      box-shadow: 0 0 15px -5px #000;
      img{transition: all 50ms linear;}
      &:hover img{transform: scale(1.2);}
      &:active{transform: scale(.95);box-shadow: 0 0 8px -4px #000;}
    }

    &-login{
      width: 100%;
      background: none;
      border: 1px solid $c1;
      padding: 15px;
      cursor: pointer;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
    }

    &-fb{
      width: 100%;
      border: none;
      color: white;
      padding: 15px;
      display: block;
      cursor: pointer;
      font-size: 12px;
      border-radius: 5px;
      background: #3B5998;
      text-decoration: none;
      text-align: center;
      img,span{@extend .dibM;}
      span{font-size: 12px;}
      img{
        height: 22px;
        margin: 0 7px 0 -17px;
      }
    }

    &-option{
      position: relative;
      min-width: 15px;
      &-btn{
        width: 100%;
        padding: 0;
        text-align: right;
        background: none;
        border: none;
        cursor: pointer;
      }

      &-list{
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        position: absolute;
        left: -60px;
        top: 0;
        width: 180px;
        background: white;
        transition: all 100ms linear;
        &-item{
          border: none;
          width: 100%;
          cursor: pointer;
          display: block;
          padding: 10px 5px 0 !important;
          text-align: left;
          border-bottom: 1px solid $c2;
          transition: all 50ms linear;
          &:last-child{border: 0;}
          &:not(:hover){opacity: 0.8}
          &:active{background: #f5f5f5;}

          img, h2{
            @extend .dibM;
          }
          img{width: 30px;vertical-align: top;}
          span{
            vertical-align: text-bottom;
            color: $c2;
            font-size: 12px;
          }
        }
      }

      &.active{
        .m-btn-option-list{
          z-index: 5;
          visibility: visible;
          opacity: 1;
          left: -160px;
          transform: scale(1);
        }
      }
    }

    &-play{
      width: 100%;
      border: none;
      color: white;
      padding: 15px;
      display: block;
      cursor: pointer;
      font-size: 12px;
      border-radius: 5px;
      background: $c1;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      img,span{@extend .dibM;}
      span{font-size: 14px;}
      img{
        height: 17px;
        margin: 0 8px 0 0;
      }


      &_o{
        background: transparent;
        border: 1px solid $c1;
      }
    }

    &-orange{
      background: #ee9902;
      border: none;
      padding: 5px 9px;
      font-size: 12px;
      font-weight: 100;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 5px;
    }

    &-share{
      background: none;
      border: 1px solid #fff;
      font-size: 11px;
      border-radius: 5px;
      padding: 7px 16px 7px 38px;
      color: #FFF;
      position: relative;
      overflow: hidden;
      img{
        width: 54px;
        position: absolute;
        left: -8px;
        top: 0;
      }
    }
  }

  &-label{
    width: 100%;
    display: block;
    position: relative;
    margin: 0 0 14px;
    &-img{
      position: absolute;
      left: 12px;
      top: 15px;
      width: 15px;
    }
    &-input{
      width: 100%;
      padding: 18px 15px 18px 42px;
      font-weight: 400;
      font-size: 12px;
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 5px;
      color: white;
    }
  }
}

//MAIN_MEDIA////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){

}

@media all and (max-width: 710px){
  .m{
    &-btn{
      &-option{
        &.active{
          .m-btn-option-list {
            left: -175px;
          }
        }
      }
    }
  }
}
























