.m{
  &-wrap{
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  &-home{
    &-header{
      padding: 32px 0 0;
      min-height: 628px;
      background: url(../i/homepage/background@2x.png) 50% 0 no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      &-nav{
        @extend .space-center;
        &-logo{}
        &-links{
          a{
            @extend .dibM;
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            border-radius: 20px;
            padding: 11px 38px;
            margin: 5px 0 0 9px;
            text-transform: uppercase;
            &.active{
              border: 1px solid white;
            }
            &:hover{opacity: 0.6;}
            &:active{transform: scale(.95);opacity: 1;}
          }
        }
      }

      &-title{
        text-align: center;
        font-size: 51px;
        line-height: 68px;
        font-weight: 900;
        color: #fff;
        padding: 90px 0 87px;
        text-transform: uppercase;
      }

      &-scroll{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -24px;
        margin: 0 auto;
        color: #fff;
        font-size: 13px;
        text-align: center;
        display: block;
        width: 140px;
        height: 80px;
      }
    }

    &-box{
      &_1{
        position: relative;
        min-height: 720px;
        background: linear-gradient(135deg,  #333232 0%,#2b2b2b 100%);
        &-bgA{
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 416px;
          background: linear-gradient(11deg,#fff 52%,rgba(0, 0, 0, 0) 0) 0 0,linear-gradient(135deg,#333232,#2b2b2b);
        }

        .left{
          width: 46%;
          padding: 170px 0 0;
          font-size: 0;
          &-item{
            @extend .dibT;
            margin: 0 0 23px;
            width: 50%;
            max-height: 224px;
            text-align: center;
            img{vertical-align: top;}
            &:first-child{width: 100%;}
            &:last-child{transform: translateY(-11px);}
          }
        }

        .right{
          width: 49%;
          padding: 86px 0 0;
          &-title{
            font-size: 62px;
            line-height: 74px;
            font-weight: 700;
            color: $c1;
            padding: 0 0 65px;
          }
          &-info{
            h2{
              padding: 0 0 21px;
              font-size: 30px;
              font-weight: 700;
              color: $c1;
            }
            p{
              font-size: 16px;
              line-height: 19px;
              color: white;
              padding: 0 0 50px;
            }
          }
        }

        .m-btn-scroll{
          position: absolute;
          z-index: 2;
          left: 40px;
          bottom: -130px;
        }

        .laptopPhone{
          @extend .dibT;
          padding: 358px 0 0;
          position: relative;
          &_1{}
          &_2{
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        &-title{
          text-align: center;
          color: #fff;
          font-size: 57px;
          font-weight: 700;
          padding: 86px 0 32px;
          &-m{
            text-align: center;
            color: white;
            font-size: 24px;
          }
        }

        &__2{
          background: white;
          position: relative;
          z-index: 1;
          padding: 155px 0 0;
          .left{
            padding: 0;
            position: absolute;
            top: -50px;
            right: 0;
          }
          .right{
            padding: 86px 0 15px;
            p{
              color: $c2;
            }
          }
        }

        &__3{
          min-height: 1104px;
          text-align: center;
          background: linear-gradient(135deg,  #ffd280 0%,#ee9902 100%);
          .m-home-box_1-bgA{background: linear-gradient(191deg,#fff 48%,rgba(0, 0, 0, 0) 0) 0 0,linear-gradient(135deg,rgba(250, 193, 90, 0.19),rgba(238, 153, 2, 0));}
        }
      }
    }

    &-footer{
      padding: 46px 0 0;
      background: linear-gradient(135deg,  #333232 0%,#2b2b2b 100%);
      &-logo{}

      &-nav{
        width: 54%;
        font-size: 0;
        &-item{
          @extend .dibT;
          width: 33.333%;
          h2{
            color: #565555;
            font-size: 18px;
            padding: 5px 0 15px;
          }
          a{
            @extend .dibT;
            color: white;
            text-decoration: none;
            font-size: 14px;
            padding: 8px 0;
            transition: all 200ms linear;
            &:hover{
              color: #565555;
            }
          }
        }
      }

      &-social{
        h2{
          text-align: right;
          color: #565555;
          font-size: 18px;
          padding: 5px 0 15px;
        }
        a{
          text-decoration: none;
          margin: 0 0 0 26px;
          transition: all 200ms linear;
          &:hover{opacity: 0.6;}
          &:active{transform: scale(.95);opacity: 1;}
        }
      }

      &-bottom{
        margin: 60px 0 0;
        width: 100%;
        height: 35px;
        background: #0e1b24;
      }
    }
  }
}


//////////////////////////////////////////////////////////////////////////
@media all and (max-width: 1110px){
  .m{
    &-wrap{
      width: 100%;
      padding: 0 5px;
    }

    &-home{
      &-header{
        &-nav{
          &-logo{
            width: 100px;
            img{
              width: 100%;
            }
          }
          &-links a {
            font-size: 12px;
            padding: 8px 25px;
          }
        }

        &-title {
          font-size: 40px;
          line-height: 45px;
          padding: 90px 0 87px;
        }
      }

      &-box_1{
        .left {
          width: 100%;
        }
        .right {
          width: 100%;
          text-align: center;
          &-title {
            font-size: 50px;
            line-height: 56px;
          }
        }

        &-bgA {
          height: 370px;
          background: linear-gradient(11deg,#fff 52%,rgba(0, 0, 0, 0) 0) 0 0,linear-gradient(135deg,#2D2D2D,#2b2b2b);
        }

        &__2{
          .left {
            position: relative;
            top: 0;
          }
        }

        &__3{
          .laptopPhone_1 {
            width: 100%;
          }
        }

        &-title {
          font-size: 45px;
        }
      }

      &-footer{
        &-nav {
          width: 60%;
        }

        &-social{
          width: 100%;
          text-align: center;
          margin: 30px 0 0;
          h2 {
            text-align: center;
          }
          a{
            margin: 0 20px;
          }
        }

        &-bottom {
          margin: 30px 0 0;
        }
      }
    }
  }
}

@media all and (max-width: 710px){
  .m{
    &-btn-scroll {
      width: 50px;
      height: 50px;
      line-height: 64px;
    }

    &-home{
      &-header {
        padding: 20px 0 0;
        text-align: center;
        &-nav{
          &-logo {
            margin: 0 auto;
          }
          &-links a {
            font-size: 12px;
            padding: 8px 20px;
            margin: 10px 0;
          }
        }

        &-title {
          font-size: 22px;
          line-height: 30px;
          padding: 80px 0 100px;
        }

        &-scroll {
          bottom: -35px;
        }
      }

      &-box_1{
        .left{
          padding: 130px 0 0;
          &-item {
            margin: 0 auto 25px;
            width: 280px;
            display: block;
            &:first-child{width: 280px;}
          }
        }

        .right {
          width: 100%;
          padding: 50px 0 0;
          &-title {
            font-size: 40px;
            line-height: 45px;
          }
        }

        .m-btn-scroll {
          left: 0;
          right: 0;
          bottom: -90px;
        }

        &__2{
          .left {
            padding: 40px 0 0;
            text-align: center;
            img{
              width: 100%;
            }
          }
        }

        &__3 {
          min-height: 800px;
        }

        .laptopPhone {
          padding: 300px 0 0;
          &_2 {
            width: 19%;
          }
        }
      }

      &-footer{
        &-logo{
          width: 100%;
          text-align: center;
        }
        &-nav {
          width: 100%;
          text-align: center;
          &-item {
            width: 50%;
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}