.m-login{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 32px 0 0;
  &:after{
    content: '';
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../i/inside/signuplogin/background@2x.png) 50% 0 no-repeat;
    background-size: cover;
  }
  &-wrap{
    position: relative;
    z-index: 1;
    width: 290px;
    margin: 0 auto 35px;
  }

  &-img{
    display: inline-block;
    margin: 0 auto 35px;
  }

  &-title{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin: 0 0 25px;
    i,span{
      display: table-cell;
    }
    span{
      text-align: left;
      width: 100px;
    }
    i{
      width: 66%;
      border-bottom: 2px solid $c1;
    }
    &-m{
      color: white;
      padding: 30px 0;
      span{
        display: table-cell;
        vertical-align: middle;
        width: 3%;
        font-size: 13px;
      }
      &:after,
      &:before{
        content: '';
        display: table-cell;
        vertical-align: middle;
        width: 11%;
        border-bottom: 1px solid #fff;
        transform: translateY(-6px);
      }
    }
  }

  &-form{
    text-align: right;
    a{
      color: white;
      text-decoration: none;
      margin: 22px 0 0;
      display: inline-block;
      font-size: 12px;
      transition: all 50ms linear;
      &:hover{opacity: 0.6;}
      &:active{opacity: 1;}
    }
  }

  &-link{
    color: white;
    text-decoration: none;
    margin: 33px 0 100px;
    display: inline-block;
    font-size: 12px;
    transition: all 50ms linear;
    &:hover{opacity: 0.6;}
    &:active{opacity: 1;}
  }
}